.wrapper{
    color: #6B6C6C;
    width:800px;
    margin: 150px auto;
    text-align: center;
    font-size: 80px;
    /*background: #e2e2e2;*/
    background: #EEE;
    padding: 30px 0px 50px 0px;
    border-radius: 15px;
}
.btn {
    background: #6B6C6C;
    color: #fff;
    display: block;
    border-radius: 15px;
    margin: 60px 50px;
    cursor: pointer;
    font-size: 50px;
}

.btn:hover {
    background: #fff;
    color: #6B6C6C;
    display: block;
    border-radius: 15px;
    margin: 60px 50px;
    cursor: pointer;
    font-size: 50px;
}

.posts {
    font-size: 30px;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    
}
.posts li {
   padding: 15px;
   cursor: pointer;
   background: #fff;
   border: 1px solid #e7e7e7;
}

.comments {
    font-size: 30px;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */ 
}

.comments li {
    padding: 35px;
    cursor: pointer;
    background: #000;
    color: #fff;
    border: 1px solid #e7e7e7;
 }
 .formLabel{
     font-size:30px;
 }
 .note{

     font-size:30px;
     padding: 15px;
 }
 .iphone {
     margin: auto;
     width: 300px;
     background:url(/static/iphones.jpeg) no-repeat center; height:150px; width:300px;
 }
.iphone_big {
    /*width: 300px;*/
    position: relative;
    background:url(/static/iphone_big.png) no-repeat center; height:1178px; width:100%;
}

.iphone_big_btn1 input[type=button], .iphone_big_btn1 input[type=submit], .iphone_big_btn1 input[type=reset],
.iphone_big_btn2 input[type=button], .iphone_big_btn2 input[type=submit], .iphone_big_btn2 input[type=reset]{
    background-color: #fbfbfd;
    border: none;
    color: #0066cc;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 38px;
}
.iphone_big_btn1 {
    position: absolute;
    top: 428px;
    left: 50%;
    margin-left: -205px;

}
.iphone_big_btn2 {
    position: absolute;
    left: 50%;
    top: 428px;
    margin-left: 95px;

}
.hidden {
    display: none;
}